{% extends "body.html" %}
<!---->
{% load static %}
<!-- APP Widgwt Tweaks -->
{% load widget_tweaks %}

<!---->
{% block head %}
<!----------------------------  DataTable ------------------------------------>
<link rel="stylesheet" href="{% static 'lib/datatables/datatables-1.10.22/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'lib/datatables/datatables-1.10.22/plugins/css/responsive.bootstrap4.min.css' %}" />
<script src="{% static 'lib/datatables/datatables-1.10.22/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables/datatables-1.10.22/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables/datatables-1.10.22/plugins/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables/datatables-1.10.22/plugins/js/responsive.bootstrap4.min.js' %}"></script>
<!---------------------------- FIN DataTable ------------------------------------>

<script src="{% static 'app/states/js/functions.js' %}"></script>
{% endblock head %}
<!---->

{% block content_data %}

<!-- /.card-header -->
<div class="card card-default">
    <div class="card navbar-dark white-text" style="background-color:#0A0EF0;">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas far fa-list-alt"></i>
                <font _mstmutation="1" _msthash="2599285" _msttexthash="94939"> {{title}} </font>
            </h3>
        </div>
    </div>

    <!-- BUSCADOR / NUEVO REGISTRO -->
    <div class="card-body">
        <!-- TABLE -->
        <table id="dtBasicExample" class="table table-striped table-hover table-sm text-center" cellspacing="0" width="100%">
            <thead style="background-color:#3D6AF2;" class="white-text">
                <tr>
                    <th scope="col" style="width:10%">ID</th>
                    <th scope="col" style="width:30%">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for i_list in liststates %}
                <tr>
                    <td> {{ i_list.id }} </td>
                    <td>
                        {% if i_list.id == 1 %}
                            <a class="btn white-text btn-floating btn-sm" style="background-color:#06af41;">{{i_list.state_type}}</a>
                        {% elif i_list.id == 2 %}
                            <a class="btn white-text btn-floating btn-sm" style="background-color:#f39c12;">{{i_list.state_type}}</a>
                        {% elif i_list.id == 3 %}
                            <a class="btn white-text btn-floating btn-sm" style="background-color:#F2E205;">{{i_list.state_type}}</a>
                        {% elif i_list.id == 4 %}
                            <a class="btn white-text btn-floating btn-sm" style="background-color:#F24130;">{{i_list.state_type}}</a>
                        {% elif i_list.id == 5 %}
                            <a class="btn white-text btn-floating btn-sm" style="background-color:#02732A;">{{i_list.state_type}}</a>
                        {% elif i_list.id == 6 %}
                            <a class="btn text-danger btn-floating btn-sm" style="background-color:#ffffff;">{{i_list.state_type}}</a>
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock content_data %}
<!-- fin JavaScript QUE LLAMA AL MODAL DEL HTML-->