{% extends "body.html" %}
<!---->
{% load static %}
<!-- APP Widgwt Tweaks -->
{% load widget_tweaks %}

{% block head %}
<!----------------------------  Funciones------------------------------------>
<script src="{% static 'app/client/js/functions.js' %}"></script>
{% endblock head %}


<!-- Bloque de Datos -->
{% block content_data %}
<div class="card card-default">

    <!-- CARGA DE DATOS -->
    <form method="POST" action="." enctype="multipart/form-data" style="background-color:#F2F2F2;">

        <div class="card navbar-dark white-text" style="background-color:#F24130;">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-trash-alt"></i>
                    <font _mstmutation="1" _msthash="2599285" _msttexthash="94939"> {{title}}</font>
                </h3>
            </div>
        </div>

        <div class="card-body">
            
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            <!---->
            {% if form.errors %}

            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="fas fa-exclamation-triangle"></i>
                    <font _mstmutation="1" _msthash="3077451" _msttexthash="103974"> ¡Ha ocurrido un ERROR al intentar eliminar un registro!</font>
                </h5>
                <ul>
                    <font _mstmutation="1" _msthash="2750085" _msttexthash="21262462">
                        {% for field in form %}
                        <!---->
                        {% for error in field.errors %}
                        <!---->
                        <li>{{ error }}</li>
                        <!---->
                        {% endfor %}
                        <!---->
                        {% endfor %}
                    </font>
                </ul>
            </div>

            {% endif %}
            
            <div class="alert white-text" style="background-color:#F24130;">
                <h5><i class="fas fa-exclamation-triangle"></i> Notificación!</h5>
                ¿Estás seguro de eliminar el registro #{{ object.id }}? <br>Si confirma la eliminación, no podrá acceder nuevamente a este.
            </div>
                
            <div class="form-row">

                <div class="form-group col-md-6 input-group">
                    <span class="input-group-text" id="{{object.id}}">Apellido:</span>
                    <label for="surname">{{ object.surname }}</label>
                </div>

                <div class="form-group col-md-6 input-group">
                <span class="input-group-text" id="{{object.id}}">Nombre:</span>
                    <label for="name">{{ object.name }}</label>
                </div>

            </div>
            
            <div class="form-row">

                <div class="form-group col-md-6 input-group">
                    <span class="input-group-text" id="{{object.id}}">Género:</span>
                    <label for="gender">{{ object.gender }}</label>
                </div>

                <div class="form-group col-md-6 input-group">
                <span class="input-group-text" id="{{object.id}}">Email:</span>
                    <label for="email">{{ object.email }}</label>
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-6 input-group">
                    <span class="input-group-text" id="{{object.id}}">Móvil:</span>
                    <label for="mobile">{{ object.mobile }}</label>
                </div>

                <div class="form-group col-md-6 input-group">
                    <span class="input-group-text" id="{{object.id}}">Teléfono:</span>
                    <label for="phone">{{ object.phone }}</label>
                </div>

            </div>

        </div>


            <div class="card-footer row justify-content-center">
                <button type="submit" style="background-color:#F24130;" class="btn white-text btn-rounded btn-sm">
                    Confirmar <i class="fas fa-trash-alt sm-1"></i>
                </button>
                <a href="{{ list_url }}" style="background-color:#02732A;" class="btn white-text btn-rounded btn-sm" class="btn">
                    Cancelar <i class="fas fa-times ml-1"></i>
                </a>
            </div>

    </form>

</div>


<script>
    $('form').on('submit', function (e) {
        e.preventDefault();
        var parameters = new FormData(this);
        submit_with_ajax(window.location.pathname, 'Notificación', '¿Estás seguro de eliminar el siguiente registro?', parameters, function () {
            Swal.fire({
                title: 'Alerta',
                text: 'Registro eliminado correctamente',
                icon: 'success',
                timer: 2000,
                onClose: () => {
                    location.href = '{{ list_url }}';
                }
            }).then((result) => {

            });
        });
    });
</script>
<!---->
{% endblock content_data %}
<!-- FIN Bloque Panel de Datos -->