{% extends "body.html" %}
<!---->
{% load static %}
<!-- APP Widgwt Tweaks -->
{% load widget_tweaks %}

<!-- Bloque de Datos -->
{% block content_data %}
<div class="card card-default">
    <!-- CARGA DE DATOS -->
    <form method="POST" id="limpiarForm2"  action="." enctype="multipart/form-data" style="background-color:#F2F2F2;">
        <div class="card navbar-dark white-text" style="background-color:#0A0EF0;">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                            {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    <font _mstmutation="1" _msthash="2599285" _msttexthash="94939"> {{title}} {{ object.state.state_type }} #{{ object.id }} </font>
                </h3>
            </div>
        </div>

        <div class="card-body">

            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            <!---->
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="fas fa-exclamation-triangle"></i>
                        <font _mstmutation="1" _msthash="3077451" _msttexthash="103974"> ¡Ha ocurrido un ERROR al intentar guardar un registro!</font>
                    </h5>
                    <ul>
                        <font _mstmutation="1" _msthash="2750085" _msttexthash="21262462">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </font>
                    </ul>
                </div>
            {% endif %}


            
            <!--CAMPOS DE DATOS DEL MODELO USER -->
            <div class="card-body">
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="email">{{ field.label }}:</label>
                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                    </div>
                {% endfor %}
            </div>
            <!--CAMPOS DE DATOS DEL MODELO USER -->


        </div>

        <div class="card-footer row justify-content-center">

            <button type="submit" style="background-color:#02732A;" class="btn white-text btn-rounded btn-sm" class="btn">Actualizar <i class="fas fa-sync ml-1"></i></button>
            <a href="{{ list_url }}" style="background-color:#F24130;" class="btn white-text btn-rounded btn-sm" type="submit" class="btn">Cancelar <i class="fas fa-times ml-1"></i></a>
        
        </div>

    </form>
    <!--FIN CARGA DE DATOS-->
</div>

<script>
    {% if form.errors %}
        var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{ error }}\n';
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            errors += '{{ error }}\n';
        {% endfor %}
        Swal.fire({
            title: 'Error!',
            text: errors,
            icon: 'error'
        });
    {% endif %}

    $('form').on('submit', function (e) {
        e.preventDefault();
        var parameters = new FormData(this);
        submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
            Swal.fire({
                title: 'Alerta',
                text: 'Acción exitosa',
                icon: 'success',
                timer: 2000,
                onClose: () => {
                    location.href = '{{ list_url }}';
                }
            }).then((result) => {
    
            });
        });
    });

</script>
<!---->
{% endblock content_data %}